* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    background-color: #4D5EB2;
    justify-content: space-between;
    
    display: flex;
    padding: 20px 175px;
}

.img_cabecalho {
    width: 60%;
    display: flex;
    align-items: center;
}

.ul_cabecalho_itens {
    display: flex;
    align-items: center;
}

.li_cabecalho_item {
    display: inline-block;
    margin: 0 16px;

    font-size: 22px;
    font-family: 'Sansation', regular;
    font-style: oblique;
    text-transform: uppercase;
}

.li_cabecalho_item a {
    text-decoration: none;

    display: block;
    position: relative;

    color: #5b1f9d;
    font-weight: bold;
}

.li_cabecalho_item a:after {
    content: "";
    background: rgb(38, 8, 78);
    border-radius: 2px;
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;
    bottom: 0;

    transform: scaleX(0);
    transition: transform .2s;
}

.li_cabecalho_item a:hover::after {
    transform: scaleX(1);
}

#section_sobre {
    background-image: linear-gradient(#4D5EB2, #8D9DEB);
    font-family: sansita;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 9% 0
}

.div_textos_sobre {
    padding: 0px 10px 150px;
    font-size: 23px;
    width: 800px;
}

.div_textos_sobre h2 {
    padding: 20px 0
}

#section_preço {
    padding: 0px 250px 10px;
    font-family: sansita;
    background-color: #9392df
}

.h2_preço_titulo {
    text-align: center;
    padding: 35px 0;
    font-size: 45px;

    color:rgb(19, 19, 19)
}

.div_caixas {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.div_caixa_preço {
    cursor: pointer;
    text-align: center;
    border: blueviolet solid 2px;
    background: #9392df;
    border-radius: 15px;
    padding: 20px 0px;
    margin: 0px 10px;

    display: block;
    position: relative;
}

.div_caixa_preço::before {
    content: "";
    position: absolute;

    border:#5b1f9d 2px solid;
    border-radius: 15px;

    width: 100%;
    height: 100%;
    bottom: -3px;
    left: -3px;

    opacity: 0;
    transition: transform .2s, opacity .15s
}

.div_caixa_preço:hover::before {
    transform: translate(10px, -10px);
    opacity: 1;
}

.h3_preço_titulo {
    font-size: 25px;
}

.h2_preço {
    color: rgb(27, 90, 2);
}

.button_agendar {
    margin: 50px auto; 
    padding: 15px;
    display: flex;
    
    font-size: 30px;
    font-family: sansila;
    text-transform: uppercase;
    background-color: transparent;
    
    border: purple solid 2px;
    border-radius: 15px;

    transition: font-size 0.5s;
}

.button_agendar:hover {
    font-size: 220%;
    cursor: pointer;
}

footer {
    background-color: rgb(19, 19, 19);
    padding: 10px 0;

    text-align: center;
}

.img_rodape_logo {
    width: 23%;
}

.p_autor {
    color: white;
}
